@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  background-color: rgb(242, 242, 242);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font-family: inherit;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.intro {
  padding: 51px 82px 82px 82px;
  color: #ffffff;
  background-color: #395364;
  min-height: 485px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 57px, cover;
  background-position: left bottom, center top;
}

.intro-img {
  display: block;
  margin: 0 auto;
}

.reasons {
  text-align: center;
  padding-top: 69px;
}

.reasons-title {
  font-size: 30px;
  line-height: 36px;
  max-width: 620px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 25px auto;
}

.reasons-text {
  margin: 0 auto 90px auto;
  max-width: 800px;
  font-size: 22px;
  line-height: 26px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.reasons-card {
  background-color: rgba(130, 179, 211, 0.2);
  display: flex;
}

.reasons-card:nth-child(2n) {
  background-color: rgba(130, 179, 211, 0.12);
}

.reasons-cube {
  width: 400px;
  padding: 112px 0 113px;
}

.reasons-card-special .reasons-cube {
  background-color: #82b3d3;
  padding: 103px 0 75px;
  color: #ffffff;
}

.reasons-card-content {
  padding: 85px 103px;
  width: 400px;
}

.reasons-card-title {
  text-transform: uppercase;
  margin: 0 auto 62px auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 182px;
}

.reasons-card-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 auto;
  width: 237px;
}

.reasons-list-item {
  width: 400px;
  padding: 103px 85px 103px 85px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages {
  padding-top: 64px;
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  max-width: 620px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 20px auto;
}

.advantages-text {
  margin: 0 auto 70px auto;
  max-width: 800px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  padding: 103px 85px 103px 85px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}

.advantages-subtitle {
  width: 140px;
  text-transform: uppercase;
  margin: 0 auto 60px auto;
  color: rgba(0, 0, 0, 1);
}

.advantages-subtext {
  width: 230px;
  height: 42px;
  color: rgba(51, 51, 51, 1);
}

.search {
  padding: 96px 304px 96px 304px;
  text-align: center;
  margin: 0 auto;
}

.search-title {
  width: 505px;
  height: 72px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0 auto;
}

.search-text {
  width: 490px;
  height: 26px;
  size: 22px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.search-button-brown {
  padding: 258px 412px 96px 412 px;
  width: 376px;
  height: 52px;
  top: 162px;
  background-color: rgb(117, 97, 87);
  border-radius: 4px;
  margin: 0 auto;
}

.subscription {
  padding: 96px 256px 104px 256px;
  text-align: center;
  min-height: 414px;
  background-image: url("../images/background-mailing.jpg");
  background-repeat: no-repeat;
}

.subscription-title {
  margin: 0 auto 20px auto;
  max-width: 480;
  height: 72px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
}

.subscription-text {
  margin: 0 auto 54px auto;
  max-width: 480px;
  height: 26px;
  size: 22px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.subscription-form {
  display: flex;
  width: 100%;
}

.subscription-field {
  font-family: inherit;
  width: 100%;
  height: 52px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px 12px 20px;
  background-color: rgb(242, 242, 242);
}

.button button-blue {
  width: 232px;
  height: 52px;
}

.footer {
  min-height: 120px;
  padding: 40px 70px 30px 70px;
  justify-content: center;
  align-items: center;
}

.social-links {
  margin-right: auto;
  max-width: 150px;
}

.social-link-vk {
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/icon-social-vk.svg");
  background-repeat: no-repeat;
  display: block;
}

.social-link-tg {
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/icon-social-tg.svg");
  background-repeat: no-repeat;
  display: block;
}

.social-link-youtube {
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/icon-socia-youtube.svg");
  background-repeat: no-repeat;
  display: block;
}

.link-tel {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.footer-link {
  background-image: url("../images/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  width: 115px;
  height: 33px;
  display: block;
  align-items: right;
}


/* catalog */

.page-inner {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  background-color: rgb(242, 242, 242);
  margin: 0;
}

.selection {
  padding: 70px;
  padding-top: 35px;
  min-height: 414px;
  color: rgba(255, 255, 255, 1);
  background-image: url("../images/background-filter.jpg");
  background-color: rgba(130, 179, 211, 1);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.selection-title {
  margin-bottom: 5px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.selection-filter {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: block;
}

.selection-filter-title {
  height: 24px;
  font-weight: 700;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.button-blue {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-invisible {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.sort {
  font-family: inherit;
  min-width: 292px;
  padding: 14px 20px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.sort-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.sort-title {
  text-transform: uppercase;
  height: 36px;
}

.product {
  display: inline;
  max-width: 340px;
}

.product-card {
  padding: 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.product-card-title-link {
  text-decoration: none;
  color: #000000;
  height: 28px;
}
.product-card-text {
  font-family: inherit;
  height: 21px;
}
